CHAPTER 1 : Mengenal Data Boolean Dalam SQL

In [ ]:
-- Praktikum
SELECT DISTINCT
	Customer_ID, Product,
    Average_transaction,
    Average_transaction >= 1000000 is_eligible
FROM summary_transaction;

CHAPTER 2 : Pengenalan Operator Logika dalam SQL

In [ ]:
-- Logika AND
SELECT
	Customer_ID, Product, average_transaction_amount,
    product = 'Jaket' AND average_transaction_amount >= 1000000 loyal_buyer_jaket
FROM data_retail
WHERE product = 'Jaket'

In [ ]:
-- Logika OR
SELECT
	Customer_ID,
	Product,
	average_transaction_amount,
	product = 'Jaket' OR product = 'Baju' buyer_fashion
FROM data_retail;

In [ ]:
-- Logika NOT
SELECT 
       *
FROM data_retail
WHERE NOT product = 'Jaket';

In [ ]:
-- Logika XOR
SELECT
	Customer_ID,
	Product,
	Average_Transaction_Amount,
	product = 'Jaket' XOR average_transaction_amount > 1000000 logika_xor
FROM data_retail;

CHAPTER 3 : Pemanfaatan Operator Logika dalam SQL

In [ ]:
-- Pemanfaatan Operator Logika dalam Perintah Where
SELECT DISTINCT
	*
FROM data_retail
WHERE Product = "Jaket" AND Average_Transaction_Amount >= 1000000;

In [ ]:
-- Pemanfaatan Operator Logika dalam Konstruksi Case When
SELECT DISTINCT
	Customer_ID,
	Product,
	Average_Transaction,
	Count_Transaction,
CASE
	WHEN Average_transaction > 2000000 AND Count_Transaction > 30 THEN "Platinum Member"
	WHEN Average_transaction BETWEEN 2000000 AND 1000000 AND Count_Transaction BETWEEN 20 AND 30 THEN "Gold Member"
	WHEN Average_transaction < 1000000 AND Count_Transaction < 20 THEN "Silver Member"
		ELSE "Other Membership" 
		END AS Membership
FROM summary_transaction

In [ ]:
-- Praktikum
SELECT DISTINCT
Customer_ID,
Product,
Average_transaction,
Count_Transaction,
CASE
	WHEN Average_transaction > 1000000 then '4-5 x Email dalam seminggu'
    WHEN Average_transaction < 1000000 then '1-2x Email dalam seminggu'
END AS frekuensi_email
FROM summary_transaction

In [ ]:
-- Perintah Where dan Logika And
SELECT DISTINCT
	Customer_ID
FROM summary_transaction
WHERE Average_transaction < 1000000 AND Product = 'Sepatu'

In [ ]:
-- Menyiapkan Report Penjualan
SELECT DISTINCT
Product Produk,
avg(Average_transaction) 'Jumlah transaksi (Rupiah)',
sum(Count_transaction) 'Barang terjual'
FROM summary_transaction
GROUP BY Product

CHAPTER 4 : Mini Project

In [ ]:
-- Tugas Pertamaku
SELECT DISTINCT
	Customer_ID
FROM data_retail_undian
WHERE Unik_produk >= 3 AND Rata_rata_transaksi > 1500000

In [ ]:
-- Tugas Keduaku
SELECT DISTINCT
	Customer_ID
FROM data_retail_undian
WHERE NOT (Unik_produk >= 3 AND Rata_rata_transaksi >= 1500000)